body{
    overscroll-behavior: none;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    min-height: $vh100;
    max-width: $vw100;
    width: 100%;
    ::selection{
        color: $txt;
        background-color: $acct1;
    }

    scrollbar-width: thin;
    scrollbar-color: $main2 $bg;
    &::-webkit-scrollbar { width: 12px; }
    &::-webkit-scrollbar-track { background: $bg; }
    &::-webkit-scrollbar-thumb {
        background-color: $main2;
        border: 3px solid $bg;
    }

    &::-webkit-scrollbar { display: none; }
}

main { flex-grow: 1; }

a { text-decoration: none; }

h1{
    line-height: 1;
    margin: 0;
}

h2{
    line-height: 1;
    margin: 0;
}

h3{
    line-height: 1;
    margin: 0;
}

h4{
    line-height: 1;
    margin: 0;
}

h5{
    line-height: 1;
    margin: 0;
}

p{
    line-height: 1.85;
    font-size: 1.2rem;
    font-weight: 200;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: $vh100;
    margin: 0;
    padding: 0;
    color: $txt;
    font-family: 'Rubik', sans-serif;
}

.vh-100{ min-height: $vh100; }
.bg-main{ background-color: $main1;}
.bg-acct2{ background-color: $acct2;}

.h-0{
    max-height: 0;
    overflow: hidden;
}

.bg-standard{
    background-color: $bg;
    z-index: 2;
}

.elevation-1 { box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12); }
.elevation-2 { box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.elevation-3 { box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 8px 0 rgba(0, 0, 0, 0.12); }
.elevation-4 { box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); }
.elevation-5 { box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.2), 0 5px 6px 0 rgba(0, 0, 0, 0.14), 0 1px 12px 0 rgba(0, 0, 0, 0.12); }