@keyframes landing-layer-one-one {
    0% {
      filter: drop-shadow( 
            $shadow
            calc($shadow * -1) 
            $shadow 
            adjust-hue(lighten($main1, 10%), 25deg)
            );
    }
    25% {
        filter: drop-shadow(
            $shadow
            calc($shadow * -1) 
            $shadow
            adjust-hue(lighten($main1, 10%), -25deg)
            );

    }
    50% {
        filter: drop-shadow(
            $shadow
            calc($shadow * -1) 
            $shadow
            adjust-hue(lighten($main1, 10%), -65deg)
            );

    }
    75% {
        filter: drop-shadow(
            $shadow
            calc($shadow * -1) 
            $shadow
            adjust-hue(lighten($main1, 20%), 50deg)
        );

    }
    100% {
        filter: drop-shadow(
            $shadow
            calc($shadow * -1) 
            $shadow 
            adjust-hue(lighten($main1, 10%), 25deg));

    }
}

@keyframes landing-layer-one-two {
    0% {
      filter: drop-shadow( 
            $shadow
            calc($shadow * -1) 
            $shadow 
            adjust-hue(lighten($main1, 20%), -50deg)
        );
    }
    33% {
        filter: drop-shadow(
            $shadow
            calc($shadow * -1) 
            $shadow
            adjust-hue(lighten($main1, 10%), -25deg)
            );

    }
    66% {
        filter: drop-shadow(
            $shadow
            calc($shadow * -1) 
            $shadow
            adjust-hue(lighten($main1, 20%), 50deg)
        );

    }
    100% {
        filter: drop-shadow(
            $shadow
            calc($shadow * -1) 
            $shadow 
            adjust-hue(lighten($main1, 20%), -50deg)
        );

    }
}

@keyframes landing-layer-one-three {
    0% {
      filter: drop-shadow( 
            $shadow
            calc($shadow * -1) 
            $shadow 
            adjust-hue(lighten($main1, 10%), 25deg)
            );
    }
    25% {
        filter: drop-shadow(
            $shadow
            calc($shadow * -1) 
            $shadow
            adjust-hue(lighten($main1, 20%), -50deg)
            );

    }
    50% {
        filter: drop-shadow(
            $shadow
            calc($shadow * -1) 
            $shadow
            adjust-hue(lighten($main1, 10%), -25deg)
        );

    }
    100% {
        filter: drop-shadow(
            $shadow
            calc($shadow * -1) 
            $shadow 
            adjust-hue(lighten($main1, 10%), 25deg));

    }
}

@keyframes resume-modal {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}