nav{
    width: $nav-width;
    height: $vh100;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1001;
    background-color: $bg;
    transition: margin $trans1 ease-in-out;
        .navbar-content{
            position: relative;
            transform: rotate(90deg);
            transform-origin: left top;
            margin-left: $nav-width;
            width: $vh100;
            color: $main2;
            height: $nav-width;
            padding: 0 $navpad;
        }
}
  
main {
margin-right: $nav-width;
}

.content-gateway{
    min-height: $vh100;
    width: calc(100% - $nav-width);
    display: flex;
    flex-direction: column;
    margin-left: $nav-width;
    position: relative;
}


@media screen and ($minmax: $lg){
    nav{
        right: calc(-1 * $nav-width);
            &.nav-open{
                margin-right: $nav-width;
            }
    }
    main {
        margin-right: 0;
    }
    .content-gateway{
        width: 100%;
        margin-left: 0;
    }
}