nav{
    width: $nav-width;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
        .navbar-content{
            position: relative;
            transform: rotate(90deg);
            transform-origin: left top;
            margin-left: $nav-width;
            width: 100vh;
            color: $main2;
            height: $nav-width;
            padding: 0 $navpad;
        }
}
  
main {
margin-right: $nav-width;
}

.content-gateway{
    min-height: 100vh;
    width: calc(100% - $nav-width);
    display: flex;
    flex-direction: column;
    margin-left: $nav-width;
}


@media screen and ($minmax: $lg){
    :root{
        --navpad: 1.2vw !important;
    }
    nav{
        height: $nav-width;
        width: 100vw;
        top: 0;
        right: 0;
        background-color: $bg;
            .navbar-content{
                transform: unset;
                width: 100vw;
                margin: 0;
                padding: 0 $navpad;
            }
    }
    main {
        margin-right: 0;
    }
    .content-gateway{
        width: 100%;
        margin-left: 0;
    }
}