// @media (prefers-color-scheme: dark) {
//     :root{
//         --bg: #181818;
//         --txt: #f6f5f5;
//         --main: #ff9939;
//         --main-2: #b1c1c0;
//         --acct-1: #b64300;
//     }
// }

// @media (prefers-color-scheme: default) {
// }
:root{
    --bg: #f6f5f5;
    --txt: #000;
    --main: #ff831f;
    --main-2: #8EA4A3;
    --acct-1: #ffb289;
    --acct-2: #242424;
}