@import "../../variables.json";

// Grid Settings
$minmax: max-width;
$gutter: 2rem;

// Grid Padding Calculations
$p1: calc( $gutter * 0.1666667 );
$p2: calc( $gutter / 3 );
$p3: calc( $gutter / 2 );
$p4: calc( $gutter / 1.5 );

// Background and Text Colors
$bg: #f6f5f5;
$bg2: #181818;
$txt: #000;
$txt2:rgb(255, 255, 255);

// Theme Colors and Such
$main1: #1aa3ff;
$main1-gradient1: linear-gradient(
    rgba(lighten($main1, 60%), 0.15) 0%, 
    rgba(darken($main1, 10%), 0.25) 50%, 
    rgba(darken($main1, 98%), 0.75) 100%);
$main1-gradient2: linear-gradient(
    rgba(lighten($main1, 70%), 0.15) 0%, 
    rgba(darken($main1, 5%), 0.25) 50%, 
    rgba(darken($main1, 98%), 0.75) 100%);
$main2: #8EA4A3;
$main3: #000;
$main4: #000;
$main5: #000;

$acct1: lighten($main1, 30%);
$acct2: #242424;
$acct3: #000;
$acct4: #000;
$acct5: #000;

$danger: #ff4f4f;
$warning: #000;
$success: $acct1;


// Font variables
$fonts: 1rem;


// Heading Settings
$h1: calc($fonts * 5.5);
$h2: calc($fonts * 4.6);
$h3: calc($fonts * 3.7);
$h4: calc($fonts * 2.8);
$h5: calc($fonts * 2);

// Landing Animation Variables
$shadow: 40px;
$animTime: 5000ms;

// Misc Variables
$nav-width: 5rem;
$navpad: var(--navpad);
$vh100: var(--vp-height);
$vw100: var(--vp-width);

$br1: 0.15rem;

// CSS variables for scoping some styles dynamically
:root{
    --navpad: 3vh;
    --vp-height: 100vh;
    --vp-width: 100vw;
}

